[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
    branch = master
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
    branch = master
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
    branch = master
[submodule "bundle/makegreen"]
	path = bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
    branch = master
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
    branch = master
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
    branch = master
[submodule "bundle/cvim"]
	path = bundle/cvim
	url = https://github.com/vim-scripts/c.vim.git
    branch = master
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
    branch = master
[submodule "browser.vim"]
	path = browser.vim
	url = https://github.com/mjbrownie/browser.vim.git
    branch = master
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
    branch = master
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    branch = master
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
    branch = master
[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
    branch = master
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
    branch = master
[submodule "bundle/jedi"]
	path = bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
    branch = master
[submodule "bundle/dart-vim"]
	path = bundle/dart-vim
	url = https://github.com/dart-lang/dart-vim-plugin.git
    branch = master
[submodule "bundle/vim2hs"]
	path = bundle/vim2hs
	url = https://github.com/dag/vim2hs.git
    branch = master
[submodule "bundle/vim-solarized-powerline"]
	path = bundle/vim-solarized-powerline
	url = https://github.com/stephenmckinney/vim-solarized-powerline.git
    branch = master
